<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404</title>
    <link rel="stylesheet" href="/css/main.css">
    <style>
        .weeb {
            position: fixed;
            bottom: 0;
            left: 0;
        }

        .container {
            text-align: center;
            margin-top: 8vh;
            font-size: 150%;
        }
    </style>
</head>

<body>
<div class="container">
    <h1>404 - This page has been lost</h1>
    <a href="/">Return to a safe place</a>
</div>
<img class="weeb" src="/bruh.png" height="40%">
</body>

</html>