* {
    margin: 0;
    padding: 0;
}
body {
    font-family: Courier New;
}
hr {
    margin: 1.5vh;
    border: 1px solid white;
}
@media (prefers-color-scheme: dark) {
    body{
        color: white;
        background-color: #0D0D0D;
    }
    hr {
        border: 1px solid #0D0D0D;
    }
}

ul {
    list-style-type: lower-greek;
    list-style-position: inside;
}
.main-wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    width: 50vw;
    margin: 0 auto;
}
.nav-container{
    margin-top: 5vh;
    border-bottom: 1px solid #FF008E;
}
#content{
    flex: 1;
    padding-top: 2vh;
}
.footer-container {
    padding: 10px 0 25px 0;
    border-top: 1px solid #FF008E;
}
a {
    color: #D22779;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
h2 {
    color: #FF008E;
}

.enpls-title {
    font-weight: bold;
    color: #FF008E;
}

.navbar ul {
    list-style-type: none;
    margin-block-start: 1em;
    margin-block-end: 5px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}
.navbar ul li {
    display: inline;
    text-align: -webkit-match-parent;
    margin-right: 1%;
}
.navbar-title * {
    display: inline;
}

.section-title {
    padding: 0.5vh 0 1vh 0;
}


.list-container {
    padding-top: 1vh;
}
.main-article .title{
    padding-bottom: 2vh;
}

.section-title h2:before {
    content: "~/";
}
.list-container .title a:before{
    content: "#";
}
